.NotifCards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 10px 8px;
  width: 90vw;
}

@media screen and (max-width: 600px) {
  .NotifCards-container {
    width: 206vw;
  }
}
