.recentboards-container {
  background-color: rgba(239, 241, 255, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 40px;
  /* opacity: 0.5; */
}

.recentboards {
  display: flex;
  justify-content: space-between;
}

.recentboards-title {
  font-size: 21px;
  font-weight: 700;
  color: #363636;
  /* margin-top: 15px; */
  margin-bottom: 30px;
}

.all-boards {
  font-size: 16px;
  font-weight: 700;
}

.cardex-container {
  display: flex;
  justify-content: space-around;
}

.cardex {
  border: 1px solid black;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  .recentboards-container {
    width: 200vw;
  }

  .cardex-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 650px) and (max-width: 770px) {
  .recentboards-container {
    width: 140vw;
  }

  .cardex-container {
    width: 90vw;
  }
}
