.link-name {
  margin: 5px 5px;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}

.link-name.active {
  background-color: #e1e1e1;
  border-radius: 4px;
  width: 230px;
}

.link-name span {
  margin-left: 10px;
}

.teams-title {
  display: flex;
  margin: 10px;
  color: #80848d;
  font-size: 16px;
  font-weight: 700;
}

.teams-title svg {
  margin-left: 180px;
}

.teams-lists {
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
}

.teams-lists span {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .link-name.active {
    width: 85px;
  }
  .link-name {
    font-size: 12px;
  }

  .teams-lists {
    font-size: 10px;
  }

  .teams-title svg {
    margin-left: 50px;
  }
}
