.TeamBoardsCards-container {
  margin-top: 50px;
}

.TeamBoardsCards-cardcontainer {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 30px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // width: 90vw;

  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}
