.TeambBoardsCard-percardcontainer {
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 200px;
  height: 145px;
  cursor: pointer;
}

.TeambBoardsCard-percardcontainer:hover {
  background-color: rgb(222, 222, 222);
}

.TeambBoardsCard-percardcontainer:active {
  transform: translateY(4px);
  border: none;
  outline: none;
}

.TeamBoardsCard-projectname {
  color: #363636;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.TeamBoardsCard-teamname {
  color: #80848d;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.TeamBoardsCard-activetasks {
  display: flex;
}

.TeamBoardsCard-activetasks .issues {
  color: #80848d;
  font-size: 14px;
  font-weight: 400;
  margin-right: 45px;
}

.number-container {
  background-color: #e1e1e1;
  //   border: 1px solid black;
  width: 40px;
  height: 20px;
  margin-right: 20px;
  border-radius: 67px;
}

.number {
  color: #363636;
  font-size: 12px;
  font-weight: 400;
  padding-top: 2px;
}
